/*		  
Olá
Este é o CSS do Site de Design Digital
Qualquer dúvida consulte :::http://www.w3.org/community/webed/wiki/CSS/Properties:::
*/

/* Normatização CSS */
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #444; /*Quando temos repetições podemos resumir e.g. #444444 como #444 e #FFDD8* como #FD8  */
    font-size: 100%;
}

/*
Todo 'a' vem por default sublinhado, para mudar isso deve-se usar as seguintes propriedades:
text-decoration: none ==> retira o sublinhado;
text-decoration: underline ==> coloca um sublinhado;
text-decoration: overline ==> coloca um sobrelinhado;
text-decoration: underline overline ==> coloca sobre e sublinhado juntos;
text-decoration: line-through ==> coloca uma linha em cima do texto.
*/
a{
    text-decoration: none;
    font-size: 16px;
    color: #0CF;
}
a:hover{
    text-decoration: underline;
}
/*
Como estilizar o comportamento do mouse
a:link estiliza o estado UP (corresponde a situação inicial do link, isto é, o aspecto do link quando a página é carregada no browser do usuário);
a:visited estiliza o estado VISITED (é o aspecto que o link assume quando o usuário passa o ponteiro do mouse sobre o link);
a:hover estiliza o estado OVER (é o aspecto do link depois que foi visitado pelo usuário);
a:active estiliza o estado link ativo (é o aspecto do link ativo, isto é, aquele que foi clicado pelo usuário.);
*/
.container{
    max-width: 1128px;
    margin: 0 auto;    
}

img, video, figure, embed{
    max-width: 100%;
}

header{
    width: 100%;
    height: 48px;
    margin-bottom: 36px;
    margin-top: 36px;
}

.logo{
    width: 234px;
    float: left;
}

nav{
    width: 840px;
    float: right;
}

nav ul{
    float: right;
}

nav li{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

nav li a{
    color: #999;
}
.banner{
    background: url('../img/banner.jpg');
    height: 450px;
    margin-bottom: 48px;
    position: relative;   
}

.caixa { 
    position: absolute;
    top: 48px;
    background: rgba(0,0,0,60%);
    padding: 24px 14px 24px 40px;
}
h1{
    font-size: 40px;
    color: #FFF;
    margin-bottom: 0;
    margin-top: 0;
}
.caixa p{
    font-size: 18px;
    color:#FFF;    
}
/* 
O Position não serve para diagramar a estrutura de layouts. Para isso, você utiliza a propriedade float do css. O Position vai servir para fazer coisas mais simples.
#fixed irá fixar a posição do elemento na coordenada que você definir
#relative posiciona o elemento em relação a si mesmo.
#absolute se utiliza do ponto superior esquerdo de outros elementos. Estes elementos são os parentes dele do elemento com position absolute. Mais especificamente o pai.
*/

article{
    width:264px;
    float: left;
    margin-right: 24px;
}

article:last-child{
    margin-right: 0;
}

h2{
    font-size: 24px;
}

p{
    font-size: 16px;
    text-align: justify;
}

footer{
    width: 100%;
    margin-bottom: 24px;
    margin-top: 24px;
}

.footer{
    font-size: 10px;
    margin-bottom: 0;
}